<div class="card mt-3" *ngIf="customer.id !== 0">
  <h4 class="card-header">{{ "CUSTOMER.ACCOUNT.TITLE" | translate}}</h4>
  <div class="card-body">
    <div>
      <label *ngIf="usernameAlreadyTaken">{{ "CUSTOMER.ACCOUNT.USERNAME_TAKEN" | translate}}</label>
      <label for="username">{{ "CUSTOMER.ACCOUNT.USERNAME" | translate}}</label>
      <div class="input-group" [class.username-taken]="usernameAlreadyTaken">
        <input type="text" class="form-control" placeholder="{{ 'CUSTOMER.ACCOUNT.USERNAME' | translate}}" id="username" required
               [(ngModel)]="signup.email" name="username" aria-describedby="suffix">
        <span class="input-group-addon" id="suffix">@patient.com</span>
      </div>

      <label for="password">{{ "CUSTOMER.ACCOUNT.PASSWORD" | translate}}</label>
      <input type="password" class="form-control" id="password" required [(ngModel)]="signup.password" name="password">
      <button *ngIf="!customer.authId"
        [disabled]="!signup.password || !signup.email" type="button" class="btn btn-primary mt-2" (click)="onCreateAccount()">
        {{ "CUSTOMER.ACCOUNT.CREATE" | translate}}
      </button>
      <button *ngIf="customer.authId" [disabled]="!signup.password || !signup.email"
              type="button" class="btn btn-primary mt-2" (click)="onUpdateAccount()">
        {{ "CUSTOMER.ACCOUNT.UPDATE" | translate}}
      </button>
    </div>
  </div>
</div>
