<div class="container">
  <div class="row">
    <p *ngIf="sizeOfProducts">
      {{ 'ADMIN.PRODUCT.SIZE' | translate:{size:sizeOfProducts} }}
    </p>
  </div>
  <hr>
  <div class="row">
    <form *ngIf="!searchingProductToDelete">
      <div class="form-group row">
        <label for="productId" class="col-md-5 col-form-label">{{ 'ADMIN.PRODUCT.DEL_ID' | translate }}</label>
        <div class="col-md-3">
          <input type="number" [(ngModel)]="productId" class="form-control" name="productId" id="productId" placeholder="10400" >
        </div>
        <div class="col-md-4">
          <button class="btn btn-danger" (click)="onDeleteProduct(content)"
                  [class.disabled]="productId == undefined || productId == 0">
            {{ 'ADMIN.PRODUCT.DELETE' | translate }}
          </button>
        </div>
      </div>
    </form>
    <div *ngIf="searchingProductToDelete">
      <p>{{ 'ADMIN.PRODUCT.SEARCHING' | translate }}</p>
    </div>
  </div>
  <hr>
  <div class="row">
    <form>
      <div class="form-group row">
        <label for="purgingCheck" class="col-md-5 col-form-label">{{ 'ADMIN.PURGE.CHECK' | translate }}</label>
        <div class="col-md-3">
          <input type="checkbox" [(ngModel)]="purgingCheck" class="form-control" name="purgingCheck" id="purgingCheck">
        </div>
        <div class="col-md-4">
          <button class="btn btn-danger" (click)="purgeDB(purge)" [class.disabled]="!purgingCheck">
            {{ 'ADMIN.PRODUCT.PURGE' | translate }}
          </button>
        </div>
      </div>
    </form>
  </div>
  <hr>
  <div class="row">

  </div>

  <div *ngIf="currentFileUpload" class="progress">
    <div class="progress-bar progress-bar-info progress-bar-striped"
         role="progressbar" attr.aria-valuenow="{{progress.percentage}}"
         aria-valuemin="0" aria-valuemax="100"
         [ngStyle]="{width:progress.percentage+'%'}">
      {{progress.percentage}}%</div>
  </div>

  <label class="btn btn-default">
    <input type="file" (change)="selectFile($event)">
  </label>
  <button class="btn btn-success" [disabled]="!selectedFiles"
          (click)="upload()">{{ 'ADMIN.PRODUCT.UPLOAD' | translate }}</button>
</div>


<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">{{ 'ADMIN.DELETE.ATTENTION' | translate }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>{{ 'ADMIN.DELETE.WARNING' | translate }}</p>
    <h5>{{ productToDelete.name }}</h5>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Cancel')">
      {{ 'ADMIN.DELETE.CANCEL' | translate }}
    </button>
    <button type="button" class="btn btn-outline-dark" (click)="c('Confirm')">
      {{ 'ADMIN.DELETE.CONFIRM' | translate }}
    </button>
  </div>
</ng-template>

<ng-template #purge let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">{{ 'ADMIN.PURGE.TITLE' | translate }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>{{ 'ADMIN.PURGE.BODY' | translate }}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Cancel')">
      {{ 'ADMIN.PURGE.CANCEL' | translate }}
    </button>
    <button type="button" class="btn btn-outline-dark" (click)="c('Confirm')">
      {{ 'ADMIN.PURGE.CONFIRM' | translate }}
    </button>
  </div>
</ng-template>

<p *ngFor="let alert of alerts">
  <ngb-alert [type]="alert.type" (close)="closeAlert(alert)">{{ alert.message | translate }} {{alert.subMessage}}</ngb-alert>
</p>
