<nav class="p-1 bg-light">
  <h2 class="pb-4">Diet Pro</h2>

  <ul>
    <li>
      <img src="http://lorempixel.com/g/80/80/" alt="logo" class="rounded-circle mx-auto d-block">
      <h4 class="text-center"><a routerLink="/diet/food">Quick food overview</a></h4>
      <hr width="75%">
    </li>
    <li>
      <img src="http://lorempixel.com/g/80/80/" alt="logo" class="rounded-circle mx-auto d-block">
      <h4 class="text-center"><a routerLink="/diet/detail-patient/1">About patient</a></h4>
      <hr width="75%">
    </li>
    <li>
      <img src="http://lorempixel.com/g/80/80/" alt="logo" class="rounded-circle mx-auto d-block">
      <h4 class="text-center"><a routerLink="/diet/dashboard">Dashboard</a></h4>
      <hr width="75%">
    </li>
  </ul>
  <div class="fixed-bottom" id="bottom">
    <button type="button" class="btn btn-warning" id="logout" (click)="logout()">Log out</button>
  </div>
</nav>
