aside {
  background-color: #f1f1f1;
}

nav {
  /*width: 170px;*/
  height: 100vh;
  border-right: 2px solid darkgray;
}

#settings-cog:hover {
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.menuItem {
  display: flex;
  justify-content: center;
  padding-top: 1em;
  padding-bottom: 1em;
  border-right: transparent solid 2px;
}

.menuItem:hover {
  background-color: lightblue;
}

.menuItem img {
  /*flex: 0 0 70%;*/
  width: auto;
  height: 100px;
}

.activeMenu {
  border-right: dodgerblue solid 2px;
}

#bottom {
  width: 150px;
}

#logout {
  width: 150px;
  margin-left: 10px;
  margin-bottom: 10px;
}

#menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

a.active {
  font-style  : italic;
  font-weight: bold;
}

#submenu {
  background-color: #f1f1f1;
  border-right: 2px solid darkgray;
}

#submenu > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#submenu li {
  padding-top: 1em;
  padding-bottom: 1em;
}

#submenu li:hover, #activeMenu:hover {
  background-color: lightblue;
}

#submenu img {
  width: auto;
  height: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
