<aside class="d-flex">
  <nav class="p-1 d-flex flex-column justify-content-between">
    <div *ngIf="displaySettings" id="settings">
      <button class="btn btn-secondary" (click)="onBackClick()">
        <i class="fa fa-arrow-left"></i> {{"NAV.BACK" | translate}}
      </button>
      <hr>
      <h4 class="text-center">{{"NAV.SETTINGS.TITLE" | translate}}</h4>
      <form class="form-inline">
        <label for="lang">{{"NAV.SETTINGS.LANG" | translate}} </label>
        <select [(ngModel)]="selectedLang" class="form-control ml-2" name="lang" id="lang" (ngModelChange)="onChangeLang($event)">
          <option *ngFor="let lang of translate.getLangs()" [ngValue]="lang">
            {{lang}}
          </option>
        </select>
      </form>
    </div>
    <ul *ngIf="navItems && !displaySettings" id="menu">
      <li *ngFor="let item of navItems" class="menuItem"
          [class.activeMenu]="isActive(item)" (click)="onNavigate(item)">
        <img src="{{item.img}}" placement="bottom" ngbTooltip="{{ (item.title) | translate}}"
             alt="{{ (item.title) | translate}}">
      </li>
      <li class="menuItem" (click)="onSettingsCogClick()">
        <img src="../../assets/img/settings.png" alt="Settings">
      </li>
    </ul>

    <button type="button" class="btn btn-warning" id="logout" (click)="onLogout()">
      <span class="fa fa-sign-out" aria-hidden="true"></span>
    </button>
  </nav>

  <div *ngIf="hasActiveMenuSubMenus() && !displaySettings" id="submenu" class="d-flex flex-column justify-content-center">
    <p>Submenus</p>
    <ul>
      <li *ngFor="let subItem of activeNavItem.subMenus" (click)="onSubNavigate(subItem)">
        <img alt="{{ (subItem.title) | translate}}"
             src="{{subItem.img}}"
             placement="top" ngbTooltip="{{ (subItem.title) | translate}}"/>
      </li>
    </ul>
  </div>

</aside>
