<p *ngFor="let alert of alerts">
  <ngb-alert [type]="alert.type" (close)="closeAlert(alert)">{{ alert.message | translate }} {{alert.subMessage}}</ngb-alert>
</p>

<div *ngIf="!patient">
  {{ 'DIET.DETAIL.SELECT_FIRST' | translate }}
</div>

<div class="container-fluid" *ngIf="patient">
  <div class="row">
    <div class="col-md-4">
      <app-detail-customer [customer]="patient"></app-detail-customer>
    </div>
    <div class="col-md-4">
      <div class="card">
        <h4 class="card-header">{{ 'DIET.DETAIL.PARAMS.TITLE' | translate }}</h4>
        <div class="card-body">
            <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
              <div *ngFor="let param of patient.anthropometricParameters">
                <ngb-panel title={{getFormattedDate(param.date)}}>
                  <ng-template ngbPanelContent>
                    <label for="length">{{ 'DIET.DETAIL.PARAMS.LENGTH' | translate }}</label>
                    <input type="number" class="form-control" id="length"
                           [(ngModel)]="param.length" name="length">
                    <label for="weight">{{ 'DIET.DETAIL.PARAMS.WEIGHT' | translate }}</label>
                    <input type="number" step="any" class="form-control" id="weight"
                           [(ngModel)]="param.weight" name="weight">
                    <label for="bodyFat">{{ 'DIET.DETAIL.PARAMS.BODY_FAT' | translate }}</label>
                    <input type="number" step="any" class="form-control" id="bodyFat"
                           [(ngModel)]="param.bodyFat" name="bodyFat">
                    <label for="waistCircumference">{{ 'DIET.DETAIL.PARAMS.WAIST' | translate }}</label>
                    <input type="number" step="any" class="form-control" id="waistCircumference"
                           [(ngModel)]="param.waistCircumference" name="waistCircumference">
                    <div class="d-flex justify-content-between pt-2">
                      <label>BMI: {{ param.weight / (param.length / 100.0 * param.length / 100.0) | number:'1.0-0' }}</label>
                      <button type="button" class="btn btn-danger" (click)="onDeleteParam(param)">
                        <span class="fa fa-trash" aria-hidden="true"></span>
                      </button>
                    </div>
                  </ng-template>
                </ngb-panel>
              </div>
              <ngb-panel title={{selectToday()}}>
                <ng-template ngbPanelContent>
                  <label for="nLength">{{ 'DIET.DETAIL.PARAMS.LENGTH' | translate }}</label>
                  <input type="number" class="form-control" id="nLength"
                         [(ngModel)]="param.length" name="nLength">
                  <label for="weight">{{ 'DIET.DETAIL.PARAMS.WEIGHT' | translate }}</label>
                  <input type="number" step="any" class="form-control" id="nWeight"
                         [(ngModel)]="param.weight" name="nWeight">
                  <label for="nBodyFat">{{ 'DIET.DETAIL.PARAMS.BODY_FAT' | translate }}</label>
                  <input type="number" step="any" class="form-control" id="nBodyFat"
                         [(ngModel)]="param.bodyFat" name="nBodyFat">
                  <label for="nWaistCircumference">{{ 'DIET.DETAIL.PARAMS.WAIST' | translate }}</label>
                  <input type="number" step="any" class="form-control" id="nWaistCircumference"
                         [(ngModel)]="param.waistCircumference" name="nWaistCircumference">
                  <button class="btn btn-outline-primary mt-2" (click)="addParam()">{{ 'DIET.DETAIL.PARAMS.ADD' | translate }}</button>
                </ng-template>
              </ngb-panel>
            </ngb-accordion>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-3">
        <h4 class="card-header">{{ 'DIET.DETAIL.EXTRA_INFO' | translate }}</h4>
        <div class="card-body">
          <div class="form-group">
            <label for="extraInfo">{{ 'DIET.DETAIL.EXTRA_INFO' | translate }}</label>
            <textarea type="text" class="form-control" id="extraInfo" rows="8"
                      [(ngModel)]="patient.extraInfo" name="extraInfo"></textarea>
          </div>
        </div>
      </div>
      <app-account [customer]="patient" [suffix]="'@patient.com'"></app-account>
    </div>
  </div>
  <div class="row">
    <button type="button" class="btn btn-secondary" (click)="goBack(content)">
      {{ 'DIET.DETAIL.RETURN' | translate }}
    </button>
    <button type="button" class="btn btn-success" (click)="save()">
      {{ 'DIET.DETAIL.SAVE' | translate }}
      <span class="badge badge-pill badge-danger" *ngIf="isPatientModified()">*</span>
    </button>
  </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">{{ 'DIET.DETAIL.ATTENTION' | translate }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="c('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>{{ 'DIET.DETAIL.PATIENT_MODIFIED' | translate }}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Cancel')">
      {{ 'DIET.DETAIL.CANCEL' | translate }}
    </button>
    <button type="button" class="btn btn-outline-dark" (click)="c('Return')">
      {{ 'DIET.DETAIL.RETURN_WITHOUT_SAVING' | translate }}
    </button>
  </div>
</ng-template>
