<h2 class="dashboard-header">Food Information</h2>
<div class="dashboard-body">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac luctus ipsum. Aenean placerat, elit ac feugiat porta, lacus enim iaculis nunc, quis posuere erat neque sed nunc. Phasellus erat felis, venenatis sed lectus ac, hendrerit venenatis leo. Integer condimentum ipsum at luctus semper. Vestibulum non scelerisque erat, sit amet aliquam turpis. Etiam vehicula maximus lorem sit amet bibendum. Donec ultrices luctus posuere. Duis blandit rutrum ligula ac lacinia. Mauris porttitor augue vel blandit pellentesque. Sed eget sollicitudin ligula.

  Sed sit amet faucibus risus. Nulla maximus sapien vulputate diam aliquam malesuada. Aenean ullamcorper lobortis turpis. Curabitur lectus risus, porta eget egestas non, consectetur vitae leo. Suspendisse consequat pellentesque quam, eu laoreet ligula mattis id. Sed suscipit nulla et enim sollicitudin fermentum. Cras sed est in odio pulvinar scelerisque nec ac odio. Interdum et malesuada fames ac ante ipsum primis in faucibus. Morbi dapibus varius ligula, quis imperdiet mauris mattis id. Curabitur at hendrerit purus. Aliquam pellentesque ipsum vel nisl volutpat pulvinar. Cras eu purus id arcu consequat pretium sit amet in metus.

</div>
