<div class="container-fluid">
  <h2 class="row">{{title}}</h2>

  <div id="init" class="row">
    <input type="text" [(ngModel)]="username">
    <button (click)="initializeWebSocketConnection()">Connect to the chat</button>
  </div>

  <div class="row" id="content">
    <app-participants class="col-md-3" [participants]="participants"
     (onParticipantSelected)="onParticipantSelectedEvent($event)"></app-participants>
    <app-message class="col-md-9" [socket]="socket" [participant]="selectedParticipant"
      *ngIf="selectedParticipant"></app-message>
  </div>
  <div class="row" id="tmp-send">
    <label for="everyone">Everyone: </label>
    <input type="text" [(ngModel)]="message" id="everyone">
    <button (click)="onSendMessage()">Send</button>
  </div>
</div>
