<div class="container-fluid">
  <div id="init" class="row" *ngIf="false">
    <input type="text" [(ngModel)]="authId">
    <button (click)="initializeWebSocketConnection()">Connect to the chat</button>
  </div>

  <div class="row" id="content">
    <app-participants class="col-md-2 p-0" [participants]="participants"
     (onParticipantSelected)="onParticipantSelectedEvent($event)"></app-participants>
    <app-message class="col-md-10 p-0" [socket]="socket" [participant]="selectedParticipant"></app-message>
  </div>
  <div class="row mt-2" id="tmp-send" *ngIf="false">
    <label for="everyone">Everyone: </label>
    <input type="text" [(ngModel)]="message" id="everyone">
    <button (click)="onSendMessage()">Send</button>
  </div>
</div>

