<div>
    <div class="card w-30">
      <div class="card-body">
        <h5 class="card-title">Search products</h5>

        <div class="form-group">
          <label for="search">Name:</label>
          <input #input="ngModel" id="search" type="text" name="search"
                 [(ngModel)]="name" placeholder="name" class="form-control"/>

          <label for="size">Size per page:</label>
          <select class="form-control" id="size" name="size" [(ngModel)]="productsPaging.size" (change)="sizeChanged()">
            <option>5</option>
            <option>8</option>
            <option>10</option>
            <option>15</option>
            <option>20</option>
          </select>
        </div>

        <hr>
        <h6 class="card-subtitle mb-2 text-muted">Products</h6>
        <div *ngIf="searching">
          <p class="card-text">Searching...</p>
        </div>
        <div *ngIf="searchFailed" class="bg-danger">
          <p class="card-text">Error while searching !</p>
        </div>
        <div *ngIf="productsPaging" class="card">
          <div *ngIf="productsPaging.numberOfElements > 0">
            <ul class="list-group list-group-flush" >
              <li class="list-group-item patient-holder " *ngFor="let product of productsPaging.content"
                  [class.active]="(selectedProduct ? selectedProduct.id : 0) === product.id" (click)="selectProduct(product)">
                <p class="card-text">{{product.name}}</p>
              </li>
            </ul>
            <div class="card-footer">
            <ngb-pagination [pageSize]="productsPaging.size" [collectionSize]="productsPaging.totalElements" [maxSize]="5"
                            [(page)]="productsPaging.number" (pageChange)="pageChanged($event)" [rotate]="true"
                            aria-label="Default pagination"></ngb-pagination>
            </div>
          </div>
          <div *ngIf="productsPaging.numberOfElements === 0" class="card-body">
            <p class="card-text">No products found</p>
          </div>
        </div>
      </div>
  </div>

  <div *ngIf="selectedProduct" class="card w-65">
    <div class="card-body">
      <h5 class="card-title">{{selectedProduct.name}}</h5>
      <img src="{{selectedProduct.imgUrl}}" alt="Product image" width="300">
      <div *ngIf="selectedProduct.units">
        <h6 class="card-subtitle mb-2 text-muted">Units</h6>
        <ul>
          <li *ngFor="let nutriment of selectedProduct.units">
            <p class="card-text">{{nutriment.name + ' ' + nutriment.value + ' ' + nutriment.unit}}</p>
          </li>
        </ul>
      </div>
      <div *ngIf="selectedProduct.macros">
        <h6 class="card-subtitle mb-2 text-muted">Macros</h6>
        <ul>
          <li *ngFor="let nutriment of selectedProduct.macros">
            <p class="card-text">{{nutriment.name + ' ' + nutriment.value + ' ' + nutriment.unit}}</p>
          </li>
        </ul>
      </div>
      <div *ngIf="selectedProduct.micros">
        <h6 class="card-subtitle mb-2 text-muted">Micros</h6>
        <ul>
          <li *ngFor="let nutriment of selectedProduct.micros">
            <p class="card-text">{{nutriment.name + ' ' + nutriment.value + ' ' + nutriment.unit}}</p>
          </li>
        </ul>
      </div>
    </div>
    </div>
</div>
