<div class="jumbotron">
  <h4 class="display-4">{{ basei18n + '.SELECT.TITLE' | translate }}</h4>

  <label for="search">{{ basei18n + '.SELECT.SEARCH' | translate }}</label>
  <input id="search" type="text" name="search" [(ngModel)]="filter"
         placeholder="{{ basei18n + '.SELECT.SEARCH_PLACEHOLDER' | translate }}" class="form-control"/>

  <hr class="my-4">
  <div *ngIf="customers" >
    <ul class="list-group list-group-flush" >
      <li class="list-group-item patient-holder " *ngFor="let customer of
        (customers | customerfilter:filter).slice((this.currentPage-1) * this.customersPerPage, this.currentPage * this.customersPerPage)" (click)="switch(customer)"
          [class.active]="(selectedCustomer ? selectedCustomer.id : 0) === customer.id">
        {{customer.firstName + ' ' + customer.lastName}}
      </li>
    </ul>

    <ngb-pagination [pageSize]="customersPerPage" [collectionSize]="(customers | customerfilter:filter).length"
                    [(page)]="currentPage" aria-label="Default pagination"></ngb-pagination>
  </div>

  <hr class="my-4">
  <button type="button" class="btn btn-secondary float-left" (click)="newCustomer()">
    {{ basei18n + '.SELECT.ADD' | translate }}
  </button>
  <button type="button" class="btn btn-primary float-right" (click)="select()"
          [disabled]="!selectedCustomer">{{ basei18n + '.SELECT.SELECT' | translate }}</button>
</div>
