<div class="jumbotron">
  <h4 class="display-4">{{ 'DIET.SELECT.TITLE' | translate }}</h4>

  <label for="search">{{ 'DIET.SELECT.SEARCH' | translate }}</label>
  <input id="search" type="text" name="search" [(ngModel)]="filter"
         placeholder="{{ 'DIET.SELECT.SEARCH_PLACEHOLDER' | translate }}" class="form-control"/>

  <hr class="my-4">
  <div *ngIf="patients" >
    <ul class="list-group list-group-flush" >
      <li class="list-group-item patient-holder " *ngFor="let patient of
        (patients | customerfilter:filter).slice((this.currentPage-1) * this.patientsPerPage, this.currentPage * this.patientsPerPage)" (click)="switch(patient)"
          [class.active]="(selectedPatient ? selectedPatient.id : 0) === patient.id">
        {{patient.firstName + ' ' + patient.lastName}}
      </li>
    </ul>

    <div>{{ 'DIET.SELECT.PAGES' | translate }}</div>
    <ngb-pagination [pageSize]="patientsPerPage" [collectionSize]="(patients | customerfilter:filter).length"
                    [(page)]="currentPage" aria-label="Default pagination"></ngb-pagination>
  </div>

  <hr class="my-4">
  <button type="button" class="btn btn-secondary float-left" (click)="newPatient()">
    {{ 'DIET.SELECT.ADD' | translate }}
  </button>
  <button type="button" class="btn btn-primary float-right" (click)="select()"
          [disabled]="!selectedPatient">{{ 'DIET.SELECT.SELECT' | translate }}</button>
</div>
