<div class="jumbotron">
  <h4 class="display-4">Select a patient</h4>

  <label for="search">Search for a patient:</label>
  <input id="search" type="text" name="search" [(ngModel)]="filter" placeholder="name" class="form-control"/>

  <hr class="my-4">

  <div>
    <ul *ngIf="patients" class="list-group list-group-flush" >
        <li class="list-group-item patient-holder " *ngFor="let patient of
        (patients.slice((this.currentPage-1) * this.patientsPerPage, this.currentPage * this.patientsPerPage))
        | patientfilter:filter" (click)="switch(patient)"
            [class.active]="selectedPatient === patient">
          {{patient.firstName + ' ' + patient.lastName}}
        </li>
    </ul>

    <div>Default pagination</div>
    <ngb-pagination [pageSize]="patientsPerPage" [collectionSize]="(patients | patientfilter:filter).length"
                    [(page)]="currentPage" aria-label="Default pagination"></ngb-pagination>
  </div>

  <hr class="my-4">
  <button type="button" class="btn btn-secondary float-left" (click)="newPatient()">Add new Patient</button>
  <button type="button" class="btn btn-primary float-right" (click)="select()"
          [disabled]="!selectedPatient">Select</button>
</div>
