<div class="container">
  <div class="card" id="patients-holder">
    <h4 class="card-header">Select a patient</h4>
    <div *ngIf="patients" class="list-group list-group-flush">

      <li class="list-group-item patient-holder " *ngFor="let patient of patients" (click)="switch(patient)"
          [class.active]="selectedPatient === patient">
        {{patient.firstName + ' ' + patient.lastName}}
      </li>

      <button type="button" class="btn btn-primary" (click)="select()"
      [disabled]="!selectedPatient">Select</button>
    </div>
  </div>
</div>
