<div class="container-fluid">
  <div class="row">
    <h3>Menu of <span>20-02-2018</span></h3>
    <form class="form-inline">
      <div class="form-group">
        <div class="input-group">
          <input class="form-control" placeholder="yyyy-mm-dd"
                 name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
              <img src="../../../../assets/img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
            </button>
          </div>
        </div>
      </div>
    </form>

    <div class="btn-group ml-auto" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-secondary">Update date</button>
      <button type="button" class="btn btn-primary">Change of menu</button>
      <button type="button" class="btn btn-danger">Delete menu</button>
    </div>

  </div>
  <hr>
  <div *ngIf="selectedMenu">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header text-center">
            <h4>Meals</h4>
          </div>
          <div class="card-body">
            <ngb-accordion #accordion="ngbAccordion" [closeOthers]="true" activeIds="static-2" (panelChange)="panelChange($event)">
              <ngb-panel id="static-1" title="10h">
                <ng-template ngbPanelContent>
                  <p>Score: 3 </p>
                  <p>Comment: I like chocolate at 10AM thx !</p>
                </ng-template>
              </ngb-panel>
              <ngb-panel id="static-2">
                <ng-template ngbPanelTitle>
                  <div class="container-fluid">
                    <div class="row">
                      <p class="meal-title">Lunch</p>
                      <button type="button" class="btn btn-success ml-auto mr-1" (click)="onEdit(1)">
                      <span class="fa fa-pencil" aria-hidden="true"></span>
                    </button>
                      <button type="button" class="btn btn-danger" (click)="onDelete(1)">
                        <span class="fa fa-trash" aria-hidden="true"></span>
                      </button>
                    </div>
                  </div>
                </ng-template>
                <ng-template ngbPanelContent>
                  <div class="container-fluid">
                    <div class="row">
                      <div>
                        <!--<h5 class="card-subtitle mb-2 text-muted">Meal information</h5>-->
                        <div class="form-group">
                          <label>Name of the meal: </label>
                          <input type="text" value="Lunch" class="form-control" name="name">
                        </div>
                        <div class="form-group">
                          <label>Extra information</label>
                          <textarea class="form-control" name="extraInfo" cols="50" rows="3">Cook it with some oil</textarea>
                        </div>
                        <button type="button" class="btn btn-success form-control">
                          Edit the meal
                          <span class="fa fa-pencil" aria-hidden="true"></span>
                        </button>
                    </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div>
                        <h5 class="card-subtitle mb-2 text-muted">Products in this meal</h5>
                        <ul>
                          <li>
                            <div class="form-group row">
                              <label class="col-md-7 col-form-label">Coconut from Delhaize is bullshit because of i dont know:Coconut from Delhaize is bullshit because of i dont know:
                              </label>
                              <input type="text" value="500" class="form-control col-md-2 ml-2 mr-2" max-height="82" name="quantity">g
                            </div>
                          </li>
                          <li>
                            <div class="form-group row">
                              <label class="col-md-7 col-form-label">Cream: </label>
                              <input type="text" value="200" class="form-control col-md-2 ml-2 mr-2" name="quantity">g
                            </div>
                          </li>
                          <li>
                            <div class="form-group row">
                              <label class="col-md-7 col-form-label">Pasta: </label>
                              <input type="text" value="150" class="form-control col-md-2 ml-2 mr-2" name="quantity">g
                            </div>
                          </li>
                          <li>
                            <div class="form-group row">
                              <label class="col-md-7 col-form-label">Tomato: </label>
                              <input type="text" value="60" class="form-control col-md-2 ml-2 mr-2" name="quantity">g
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div>
                        <h5 class="card-subtitle mb-2 text-muted">Feedback of the patient</h5>
                        <div class="stars">
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star-o"></span>
                          <span class="fa fa-star-o"></span>
                          <span class="fa fa-star-o"></span>
                          <span class="fa fa-star-o"></span>
                        </div>
                        <blockquote class="blockquote">
                          <p class="mb-0">It was not so good at all, i thought there was some fish but it's vegs.</p>
                          <footer class="blockquote-footer">
                            Comment of <cite title="Source Title">Mina Coppens</cite>
                          </footer>
                        </blockquote>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ngb-panel>
              <ngb-panel id="static-3" title="dinner">
                <ng-template ngbPanelContent>
                  <p>Blah</p>
                </ng-template>
              </ngb-panel>
            </ngb-accordion>
          </div>
          <div class="card-footer">
            <button type="button" class="btn btn-primary">Add a new meal</button>
            <button type="button" class="btn btn-primary">Add a meal form your templates</button>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div *ngIf="showProducts" class="card">
          <div class="card-header text-center">
            <h4>Products</h4>
          </div>
          <div class="card-body">
            <app-search-food (onSelectedProduct)="onSelectedProduct($event)"></app-search-food>
          </div>
        </div>
        <div *ngIf="!showProducts">
          <p>Please select a meal before</p>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!selectedMenu">
    <p>Please select a menu here</p>
  </div>
</div>
