<div *ngIf="!selectedPatient">
  {{"MENU.PATIENT_BEFORE" | translate}}
</div>
<div *ngIf="!selectedMenu && selectedPatient">
  {{"MENU.LOADING" | translate}}
</div>
<div class="container-fluid" *ngIf="selectedMenu">
  <div class="row">
    <h3>
      {{"MENU.OF" | translate}} {{getFormattedDate(selectedMenu.date)}}
      <span *ngIf="selectedMenu.id === 0" class="badge badge-secondary">{{"MENU.NEW" | translate}}</span>
    </h3>
    <form class="form-inline ml-2">
      <div class="form-group">
        <div class="input-group">
          <input class="form-control" placeholder="yyyy-mm-dd" readonly type="text" id="date" name="date"
                 [dayTemplate]="customDay" ngbDatepicker #d="ngbDatepicker"
                 [(ngModel)]="selectedMenu.date" (navigate)="onDateNavigated($event)" (ngModelChange)="onDateChanged()">

          <ng-template #customDay let-date="date" let-currentMonth="currentMonth" let-selected="selected"
                       let-disabled="disabled" let-focused="focused">
          <span class="custom-day" [class.contains-menu]="containsMenu(date)" [class.focused]="focused"
                [class.bg-primary]="selected" [class.hidden]="date.month !== currentMonth" [class.text-muted]="disabled">
            {{ date.day }}
          </span>
          </ng-template>

          <div class="input-group-append">
            <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
              <img src="../../../../assets/img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
            </button>
          </div>
        </div>
      </div>
    </form>

    <div class="btn-group ml-auto" role="group" aria-label="Basic example" *ngIf="!isPatientView">
      <ngb-datepicker id="dpChange" #dp *ngIf="displayChangeDateOfMenu" (select)="onChangeDateOfMenu($event)"></ngb-datepicker>
      <button [disabled]="selectedMenu.id === 0" type="button" class="btn btn-secondary" (click)="openChangeDate()">{{"MENU.NEW_DATE" | translate}}</button>
      <button [disabled]="selectedMenu.id === 0" type="button" class="btn btn-danger" (click)="onDeleteMenu(popupDelete)">{{"MENU.DELETE" | translate}}</button>
    </div>

  </div>
  <hr>
  <app-meal *ngIf="selectedMenu" [isPatientView]="isPatientView"
            [selectedMenu]="selectedMenu" [meals]="selectedMenu.meals" [selectedPatient]="selectedPatient">
  </app-meal>
</div>

<ng-template #popupDelete let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">{{deletePopupStrings.title | translate}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="c('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>{{deletePopupStrings.body | translate}}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Cancel')">
      {{deletePopupStrings.cancel | translate}}
    </button>
    <button type="button" class="btn btn-outline-dark" (click)="c('Delete')">
      {{deletePopupStrings.delete | translate}}
    </button>
  </div>
</ng-template>
