<!--The content below is only a placeholder and can be replaced.-->
<!--<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h1>{{title}}</h1>
      <hr class="col-xs-12">
    </div>
  </div>
</div>-->

<div>{{ 'HELLO' | translate}}</div>
<div>{{ 'HELLO'}}</div>
azertyui
<label>
  {{ 'HOME.SELECT' | translate }}
  <select #langSelect (change)="translate.use(langSelect.value)">
    <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>
  </select>
</label>

<router-outlet></router-outlet>
