<ngb-carousel class="pb-3" *ngIf="selectedPatient && mealPictures.length > 0">
  <ng-template ngbSlide *ngFor="let pic of mealPictures" class="col-md-2 mb-3">
    <img *ngIf="pic.blob != null" [src]="pic.blob" [alt]="pic.filename">
    <p *ngIf="pic.blob == null">{{ 'DIET.DASHBOARD.SLIDER.LOADING' | translate}}</p>
  </ng-template>
</ngb-carousel>
<div *ngIf="selectedPatient && mealPictures.length == 0">
  {{ 'DIET.DASHBOARD.SLIDER.NO_PICTURES' | translate}}
</div>
<div *ngIf="!selectedPatient">
  {{ 'DIET.DASHBOARD.SLIDER.NO_PATIENT' | translate}}
</div>
