<div class="container-fluid">
  <div class="row">
    <h2 class="mx-auto">Upload your meal pictures</h2>
  </div>
  <hr>
  <div class="row pl-3 mb-2">
    <div class="col-md-6 col-sm-12">
      <h3>Upload a new picture</h3>
      <div>
        <p *ngFor="let alert of alerts">
          <ngb-alert [type]="alert.type" (close)="closeAlert(alert)">{{ alert.message | translate }} {{alert.subMessage}}</ngb-alert>
        </p>
      </div>
      <form class="form-inline mb-3">
        <div class="form-group">
          <div class="input-group">
            <label for="meal-date" class="mr-1">Date of the meal: </label>
            <input class="form-control" placeholder="yyyy-mm-dd" id="meal-date"
                   name="meal-date" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker"
                   (ngModelChange)="onDateChanged()" id="birthday">
            <button class="input-group-addon" (click)="d.toggle()" type="button">
              <img src="../../../assets/img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
            </button>
          </div>
        </div>
      </form>
      <p-fileUpload #fileUpload name="myfile[]" customUpload="true" (uploadHandler)="uploadFiles($event)"
                    multiple="multiple" accept="image/*">
      </p-fileUpload>
    </div>
  </div>
  <div class="row pl-3">
    <div id="pictures">
      <h3>List of all your pictures..</h3>
      <div *ngFor="let pic of pictures">
        <img src="{{pic}}" alt="picture">
      </div>
      <pre *ngFor="let model of modelFiles">
        {{ model | json}}
      </pre>

    </div>
  </div>
</div>
