<div *ngIf="maintenance" class="text-center pb-2">
  <div *ngIf="maintenance.state == 'BEGIN'">
    <p>It's in maintenance sins <strong>{{ maintenance.beginDate | date }}</strong></p>
    <p>For <em>{{ maintenance.reason }}</em></p>
  </div>
  <div *ngIf="maintenance.state == 'END'">
    <p>Last maintenance was at <strong>{{ maintenance.endDate | date }}</strong></p>
    <p>For <em>{{ maintenance.reason }}</em></p>
  </div>
  <div *ngIf="maintenance.state == 'NONE'">
    There are no maintenance history
  </div>

  <input type="button" class="btn btn-primary" (click)="onPutInMaintenance()" value="Put in maintance"
         [disabled]="maintenance.state == 'BEGIN' || maintenance.state == 'NONE'"/>
  <input (click)="onRemoveMaintenance()" class="btn btn-primary" value="Remove the maintenance"
         [disabled]="maintenance.state == 'END'"/>
</div>
