<div *ngIf="maintenance" class="text-center pb-2">
  <div *ngIf="maintenance.state == 'BEGIN'">
    <p>{{ 'ADMIN.MAINTENANCE.SINCE' | translate }} <strong>{{ maintenance.beginDate | date }}</strong></p>
    <p>{{ 'ADMIN.MAINTENANCE.SINCE_REASON' | translate }} <em>{{ maintenance.reason }}</em></p>
  </div>
  <div *ngIf="maintenance.state == 'END'">
    <p>{{ 'ADMIN.MAINTENANCE.LAST' | translate }} <strong>{{ maintenance.endDate | date }}</strong></p>
    <p>{{ 'ADMIN.MAINTENANCE.LAST_REASON' | translate }} <em>{{ maintenance.reason }}</em></p>
  </div>
  <div *ngIf="maintenance.state == 'NONE'">
    {{ 'ADMIN.MAINTENANCE.NO_HISTORY' | translate }}
  </div>

  <input type="button" class="btn btn-primary" (click)="onPutInMaintenance()" value="{{ 'ADMIN.MAINTENANCE.PUT' | translate }}"
         [disabled]="maintenance.state == 'BEGIN'"/>
  <input (click)="onRemoveMaintenance()" class="btn btn-primary" value="{{ 'ADMIN.MAINTENANCE.REMOVE' | translate }}"
         [disabled]="maintenance.state == 'END' || maintenance.state == 'NONE'"/>
</div>
