<h3>Dashboard</h3>
<section class="container-fluid">
  <div class="row">
    <app-dashboard-item class="col-md-4"></app-dashboard-item>
    <app-dashboard-item class="col-md-4"></app-dashboard-item>
    <app-dashboard-item class="col-md-4"></app-dashboard-item>
    <app-dashboard-item class="col-md-4"></app-dashboard-item>
    <app-dashboard-item class="col-md-4"></app-dashboard-item>
    <app-dashboard-item class="col-md-4"></app-dashboard-item>
    <app-dashboard-item class="col-md-4"></app-dashboard-item>
  </div>
</section>
