<div *ngIf="login" [ngStyle]="style">
  <div class="d-flex justify-content-between align-items-center p-2">
    <h4 class="text-center">{{login.authId}}</h4>
    <img src="../../../../assets/img/blacklisted.png" alt="blacklised" width="auto" height="50px" (click)="onBlacklistClicked()">
  </div>
  <hr class="mt-0">
  <div *ngIf="login.blacklisted" class="p-2">
    {{ 'ADMIN.LOGINS.BLACKLISTED' | translate}}
  </div>
  <div *ngIf="login.logOutTime && !login.blacklisted" class="p-2">
    {{ 'ADMIN.LOGINS.LOGOUT' | translate}} {{login.logOutTime | date:'short'}} UTC
  </div>
  <div *ngIf="!login.logOutTime && !login.blacklisted" class="p-2">
    <p>{{ 'ADMIN.LOGINS.LOGIN' | translate}} {{login.loginTime | date:'short'}}</p>
    <p>{{ 'ADMIN.LOGINS.EXP_TIME' | translate}} {{login.expirationTime | date:'short'}}</p>
    <p>{{ 'ADMIN.LOGINS.LAST_ACTIVITY' | translate}} {{login.lastActivityTime | date:'short'}} UTC</p>
    <p>{{ 'ADMIN.LOGINS.INACTIVITY' | translate}} {{inactivityTime}} seconds</p>
  </div>
  <hr>
</div>
