#wrapper {
  background: #f5f5f5;
  height: 100%;
}

#header {
  background: white;
  color: #435f7a;
}

ng-scrollbar {
  flex: 1 1 500px;
}

#footer {
}

.message {
  max-width: 55%;
}

.message > p {
  min-width: 50px;
  border-radius: 20px;
  padding: 10px 15px 10px 15px;
}

.message.ml-auto > p {
  /*margin-left: 10px;
  margin-right: 30%;*/
  background-color: #435f7a;
  color: white;
}

.message.mr-auto > p {
  /*margin-right: 10px;
  margin-left: 30%;*/
  background-color: white;
  color: black;
}
