<div class="row">
  <div class="col-md-6" id="meals">
    <div class="mb-2 d-flex justify-content-between">
      <h4 class="mt-auto mb-auto">Meals</h4>
      <div>
        <button type="button" class="btn btn-success" (click)="onAddNewMeal()">
          New <span class="fa fa-plus" aria-hidden="true"></span>
        </button>
        <button type="button" class="btn btn-success" (click)="onAddTemplateMeal()">
          Template <span class="fa fa-plus" aria-hidden="true"></span>
        </button>
      </div>
    </div>
    <div *ngIf="meals.length != 0">
      <ngb-accordion #accordion="ngbAccordion" [closeOthers]="true" activeIds="ngb-panel-0-header" (panelChange)="panelChange($event)">
        <ngb-panel id="panel-{{meal.id}}" *ngFor="let meal of meals">
          <ng-template ngbPanelTitle>
            <div class="container-fluid">
              <div class="row">
                <p class="meal-title">{{meal.name}}</p>
                <button type="button" class="btn btn-danger ml-auto" (click)="onDeleteMeal(meal, popupDelete)">
                  <span class="fa fa-trash" aria-hidden="true"></span>
                </button>
              </div>
            </div>
          </ng-template>
          <ng-template ngbPanelContent>
            <div class="container-fluid">
              <div class="row">
                <div>
                  <div class="form-group">
                    <label>Name: </label>
                    <input type="text" [(ngModel)]="meal.name" class="form-control" name="name"
                           (blur)="onBlurName(meal)">
                  </div>
                  <div class="form-group">
                    <label>Description</label>
                    <textarea [(ngModel)]="meal.extraInfo" class="form-control" name="extraInfo" cols="50" rows="3"
                              (blur)="onBlurExtraInfo(meal)">
                          {{meal.extraInfo}}
                        </textarea>
                  </div>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="products" droppable [dragOverClass]="'drag-target-border'" [dragHintClass]="'drag-hint'"
                     (onDrop)="onMealProductDrop(meal, $event)">
                  <h5 class="mb-2 text-muted">Products</h5>
                  <ul class="list-group">
                    <div class="product-holder" *ngIf="meal.mealProducts.length == 0">
                      You don'y have any products in this meal
                    </div>
                    <div class="product-holder" *ngFor="let mp of meal.mealProducts">
                      <li class="list-group-item product-detail">
                        <div *ngIf="!mp.product">
                          Loading products...
                        </div>
                        <div class="d-flex align-items-center" *ngIf="mp.product">
                          <h6>{{mp.product.name.slice(0, mp.product.name.indexOf("-"))}}</h6>
                          <input type="number" [(ngModel)]="mp.quantity" class="form-control ml-auto quantity"
                                 (blur)="onBlurMealProductQuantity(mp)" name="quantity">
                          <span class="unit">g</span>
                        </div>
                        <blockquote class="blockquote" *ngIf="mp.product &&
                            mp.product.name.slice(mp.product.name.indexOf('-') + 1, mp.product.name.lastIndexOf('-'))">
                          <footer class="blockquote-footer">
                            <cite title="Source Title">
                              {{mp.product.name.slice(mp.product.name.indexOf("-") + 1, mp.product.name.lastIndexOf("-"))}}
                            </cite>
                          </footer>
                        </blockquote>
                      </li>
                      <button type="button" class="btn btn-danger product-trash" (click)="onDeleteProduct(meal, mp)">
                        <span class="fa fa-trash" aria-hidden="true"></span>
                      </button>
                    </div>
                  </ul>
                </div>
              </div>
              <hr>
              <div class="row">
                <div>
                  <h5 class="mb-2 text-muted">Feedback of the patient</h5>
                  <div class="stars">
                    <span class="fa fa-star" aria-hidden="true" *ngFor="let x of meal.score|times"></span><span class="fa fa-star-o" aria-hidden="true" *ngFor="let x of 5 - meal.score|times"></span>
                  </div>
                  <blockquote class="blockquote">
                    <p class="mb-0">{{meal.comment}}</p>
                    <footer class="blockquote-footer" *ngIf="selectedPatient">
                      Comment of
                      <cite title="Source Title">
                        {{selectedPatient.firstName + ' ' + selectedPatient.lastName}}
                      </cite>
                    </footer>
                  </blockquote>
                </div>
              </div>
            </div>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </div>
    <div *ngIf="meals.length == 0">
      They are no meals
  </div>
  </div>
  <div class="col-md-6">
    <div *ngIf="showProducts">
      <div>
        <app-search-food [enableDragDrop]="true"></app-search-food>
      </div>
    </div>
    <div *ngIf="!showProducts">
      <p>Please select a meal before</p>
    </div>
  </div>
</div>

<ng-template #popupDelete let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">{{deletePopupStrings.title}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>{{deletePopupStrings.body}}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Cancel')">
      {{deletePopupStrings.cancel}}
    </button>
    <button type="button" class="btn btn-outline-dark" (click)="c('Delete')">
      {{deletePopupStrings.delete}}
    </button>
  </div>
</ng-template>
