<div class="row">
  <div class="col-md-6" id="meals">
    <div class="mb-2 d-flex justify-content-between">
      <h4 class="mt-auto mb-auto">{{"MEALS.TITLE" | translate}}</h4>
      <div>
        <button type="button" class="btn btn-success" (click)="onAddNewMeal()">
          {{"MEALS.NEW" | translate}} <span class="fa fa-plus" aria-hidden="true"></span>
        </button>
        <button type="button" class="btn btn-success" (click)="onShowTemplateMeals(popupTemplates)" *ngIf="selectedMenu">
          {{"MEALS.ADD_TEMPLATE" | translate}} <span class="fa fa-plus" aria-hidden="true"></span>
        </button>
      </div>
    </div>
    <div *ngIf="meals.length != 0">
      <ngb-accordion #accordion="ngbAccordion" [closeOthers]="true" activeIds="ngb-panel-0-header" (panelChange)="panelChange($event)">
        <ngb-panel id="panel-{{meal.id}}" *ngFor="let meal of meals">
          <ng-template ngbPanelTitle>
            <div class="container-fluid">
              <div class="row">
                <p class="meal-title">{{meal.name}}</p>
                <button type="button" class="btn btn-danger ml-auto" (click)="onDeleteMeal(meal, popupDelete)">
                  <span class="fa fa-trash" aria-hidden="true"></span>
                </button>
              </div>
            </div>
          </ng-template>
          <ng-template ngbPanelContent>
            <div class="container-fluid">
              <div class="row">
                <div>
                  <div class="form-group">
                    <label>{{"MEALS.NAME" | translate}} </label>
                    <input type="text" [(ngModel)]="meal.name" class="form-control" name="name"
                           (blur)="onBlurName(meal)">
                  </div>
                  <div class="form-group">
                    <label>{{"MEALS.DESC" | translate}}</label>
                    <textarea [(ngModel)]="meal.extraInfo" class="form-control" name="extraInfo" cols="50" rows="3"
                              (blur)="onBlurExtraInfo(meal)">
                          {{meal.extraInfo}}
                        </textarea>
                  </div>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="products" droppable [dragOverClass]="'drag-target-border'" [dragHintClass]="'drag-hint'"
                     (onDrop)="onMealProductDrop(meal, $event)">
                  <h5 class="mb-2 text-muted">{{"MEALS.PRODUCTS.TITLE" | translate}}</h5>
                  <ul class="list-group">
                    <li class="product-holder" *ngIf="meal.mealProducts.length == 0">
                      {{"MEALS.PRODUCTS.EMPTY" | translate}}
                    </li>
                    <li class="list-group-item " *ngFor="let mp of meal.mealProducts">
                      <div *ngIf="!mp.product">
                        {{"MEALS.PRODUCTS.LOADING" | translate}}
                      </div>

                      <div class="" *ngIf="mp.product">
                        <h6>{{mp.product.name.slice(0, mp.product.name.indexOf("-"))}}</h6>
                      </div>

                      <div class="d-flex justify-content-between">
                        <div>
                          <label for="quantity">Quantity: </label>
                          <input type="number" [(ngModel)]="mp.quantity" class="form-control quantity d-inline-block"
                                 (blur)="onBlurMealProductQuantity(mp)" name="quantity" id="quantity">
                          <span class="unit">g</span>
                        </div>
                        <div>
                          <button class="btn btn-primary ml-auto" (click)="onSelectedProduct(mp.product, popupProduct)">
                            <span class="fa fa-search"></span>
                          </button>
                          <button type="button" class="btn btn-danger" (click)="onDeleteProduct(meal, mp)">
                            <span class="fa fa-trash" aria-hidden="true"></span>
                          </button>
                        </div>
                      </div>

                      <blockquote class="blockquote" *ngIf="mp.product &&
                            mp.product.name.slice(mp.product.name.indexOf('-') + 1, mp.product.name.lastIndexOf('-'))">
                        <footer class="blockquote-footer">
                          <cite title="Source Title">
                            {{mp.product.name.slice(mp.product.name.indexOf("-") + 1, mp.product.name.lastIndexOf("-"))}}
                          </cite>
                        </footer>
                      </blockquote>
                    </li>

                    <!--<div class="product-holder" *ngFor="let mp of meal.mealProducts">
                      <li class="list-group-item product-detail">
                        <div *ngIf="!mp.product">
                          {{"MEALS.PRODUCTS.LOADING" | translate}}
                        </div>
                        <div class="d-flex align-items-center" *ngIf="mp.product">
                          <h6>{{mp.product.name.slice(0, mp.product.name.indexOf("-"))}}</h6>
                          <input type="number" [(ngModel)]="mp.quantity" class="form-control ml-auto quantity"
                                 (blur)="onBlurMealProductQuantity(mp)" name="quantity">
                          <span class="unit">g</span>
                        </div>
                        <blockquote class="blockquote" *ngIf="mp.product &&
                            mp.product.name.slice(mp.product.name.indexOf('-') + 1, mp.product.name.lastIndexOf('-'))">
                          <footer class="blockquote-footer">
                            <cite title="Source Title">
                              {{mp.product.name.slice(mp.product.name.indexOf("-") + 1, mp.product.name.lastIndexOf("-"))}}
                            </cite>
                          </footer>
                        </blockquote>
                      </li>
                      <button type="button" class="btn btn-danger product-trash" (click)="onDeleteProduct(meal, mp)">
                        <span class="fa fa-trash" aria-hidden="true"></span>
                      </button>
                    </div>-->
                  </ul>
                </div>
              </div>
              <hr>
              <div class="row" *ngIf="selectedPatient">
                <div>
                  <h5 class="mb-2 text-muted">{{"MEALS.PATIENT.TITLE" | translate}}</h5>
                  <div class="stars">
                    <span class="fa fa-star" aria-hidden="true" *ngFor="let x of meal.score|times"></span><span class="fa fa-star-o" aria-hidden="true" *ngFor="let x of 5 - meal.score|times"></span>
                  </div>
                  <blockquote class="blockquote">
                    <p class="mb-0">{{meal.comment}}</p>
                    <footer class="blockquote-footer">
                      {{"MEALS.PATIENT.COMMENT_OF" | translate}}
                      <cite title="Source Title">
                        {{selectedPatient.firstName + ' ' + selectedPatient.lastName}}
                      </cite>
                    </footer>
                  </blockquote>
                </div>
              </div>
            </div>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </div>
    <div *ngIf="meals.length == 0">
      {{"MEALS.EMPTY" | translate}}
  </div>
  </div>
  <div class="col-md-6">
    <div *ngIf="showProducts">
      <div>
        <app-search-food [enableDragDrop]="true" (onSelectedProduct)="onSelectedProduct($event, popupProduct)"></app-search-food>
      </div>
    </div>
    <div *ngIf="!showProducts">
      <p>{{"MEALS.PRODUCTS.SELECT_MEAL_BEFORE" | translate}}</p>
    </div>
  </div>
</div>

<ng-template #popupProduct let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">{{displayProduct.name.slice(0, displayProduct.name.indexOf("-"))}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="c('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <img src="{{displayProduct.imgUrl}}" alt="product image" class="img-fluid" id="product-img">
    <blockquote class="blockquote"
                *ngIf="displayProduct.name.slice(displayProduct.name.indexOf('-') + 1, displayProduct.name.lastIndexOf('-'))">
      <footer class="blockquote-footer">
        <cite title="Source Title">
          {{displayProduct.name.slice(displayProduct.name.indexOf("-") + 1, displayProduct.name.lastIndexOf("-"))}}
        </cite>
      </footer>
    </blockquote>
  </div>
</ng-template>

<ng-template #popupDelete let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">{{deletePopupStrings.title | translate}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="c('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>{{deletePopupStrings.body | translate}}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Cancel')">
      {{deletePopupStrings.cancel | translate}}
    </button>
    <button type="button" class="btn btn-outline-dark" (click)="c('Delete')">
      {{deletePopupStrings.delete | translate}}
    </button>
  </div>
</ng-template>

<ng-template #popupTemplates let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">{{"MEALS.TEMPLATE.MODAL.TITLE" | translate}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="c('Cross clicked')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="list-group">
      <p>{{"MEALS.TEMPLATE.MODAL.INFO" | translate}}</p>
      <button type="button" class="list-group-item list-group-item-action" *ngFor="let meal of templateMeals"
          (click)="onAddFromTemplate(meal)">
        {{meal.name}}
      </button>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Cancel')">
      {{"MEALS.TEMPLATE.MODAL.CANCEL" | translate}}
    </button>
  </div>
</ng-template>
