<!--
<div class="container" *ngIf="diet">
  <h2 class="text-center">{{ 'DIET.DASHBOARD.TITLE' | translate }} {{diet.firstName + ' ' + diet.lastName}}</h2>
</div>
<div class="container" *ngIf="selectedPatient">
  <div class="row">
    <div>
      <p>{{ 'DIET.DASHBOARD.SELECTED' | translate }}{{selectedPatient.firstName}}</p>
      <p>{{ 'DIET.DASHBOARD.CREATED' | translate }} {{selectedPatient.created | date:"dd/MM/yyyy" }}</p>
      <p>{{getAge()}} {{ 'DIET.DASHBOARD.YEARS_OLD' | translate }}</p>
    </div>
    <div class="ml-auto">
      <button type="button" class="btn btn-secondary" (click)="onPatientDeselect()">
        {{ 'DIET.DASHBOARD.DESELECT_PATIENT' | translate }}
      </button>
    </div>
  </div>
  <div id="paramChart" class="row" *ngIf="selectedPatient.anthropometricParameters.length > 0">
    <div>
      <canvas baseChart
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [legend]="barChartLegend"
              [chartType]="barChartType"></canvas>
    </div>
  </div>
</div>
<div *ngIf="!selectedPatient">
  {{ 'DIET.DASHBOARD.NO_PATIENT' | translate }}
</div>
-->
<app-dashboard>
  <app-dashboard-item [model]="foodItem">
    <app-food-info></app-food-info>
  </app-dashboard-item>

  <app-dashboard-item [model]="patientItem">
    <app-patient-info></app-patient-info>
  </app-dashboard-item>

  <app-dashboard-item [model]="foodSlider">
    <app-food-slider></app-food-slider>
  </app-dashboard-item>
</app-dashboard>
