.product-holder {
  height: 70px;
}

.product-holder-drag-drop {
  height: 75px;
}

.product-holder > h6 {
  text-overflow:ellipsis;
  overflow:hidden;
  white-space: nowrap;
}

.gray-out {
  filter: blur(3px) grayscale(100%);
}

.drag-over {
  border: #ffc100 dashed 2px;
}
